#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#components {
  display: flex;
  flex-direction: row;
}

canvas {
  border: 1px solid #000;
}
.pen {
  cursor: url(./assets/pen.png) 0 60, auto;
}
.eraser {
  cursor: url(./assets/eraser.png) 0 60, auto;
}

/* toolbar styles */
.toolbar {
  display: flex;
}

.color-option {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
}
